@model AppsterBackendAdmin.Models.View.DashboardViewModel
<div class="col-sm-12">
    <div class="panel panel-primary">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="centered">No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th><div class="centered">Gender</div></th>
                    <th class="referal">Referral ID</th>
                    <th>Status</th>
                    <th class="gift_user_send">Gift Sent</th>
                    <th class="gift_user_rec">Gift received</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                    foreach (var user in Model.NewAddedUsers)
                    {
                        count += 1;
                        <tr id="@user.id">
                            <td class="centered">@count</td>
                            <td id="data-user-name-@user.id" title="@user.display_name">@user.display_name</td>
                            <td rel="data-user-email">@user.email</td>
                            <td class="centered">
                                @(string.IsNullOrWhiteSpace(user.gender) || user.gender == "Female" ? "M" : "F")
                            </td>
                            <td>@user.referral_id</td>
                            <td rel="data-user-status-@user.id-@user.status">@AppsterBackendAdmin.Infrastructures.Settings.SiteSettings.UserStatus(user.status).ToString()</td>
                            <td>@user.gift_sent_count</td>
                            <td>@user.gift_received_count</td>

                            <td>
                                <div class="dropdown">
                                    <a class="account" id="">
                                        <span>
                                            <img src="~/Content/img/btn_dropdown.png" alt="">
                                        </span>
                                    </a>

                                    <div class="submenu" style="display: none; ">
                                        <div class="top2"></div>
                                        <ul class="root">
                                            <li>
                                                <a href="/users/edituser/@user.id"><img src="~/Content/img/icon_edit.png" alt="edit"> Edit</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" rel="data-user-suspend-@user.id" class="suspend-user">
                                                    <img src="~/Content/img/icon_invalid.png" alt="suspend"> Suspend</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>

