@model AppsterBackendAdmin.Models.View.DashboardViewModel
<div class="col-sm-12">
    <div class="panel panel-primary">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="centered">No.</th>
                    <th>Name</th>
                    <th>User name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th><div class="centered">Access Level</div></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 0;
                    foreach (var user in Model.NewAddedAdmins)
                    {
                        count += 1;
                        <tr id="@user.id">
                            <td class="centered">@count</td>
                            <td rel="data-user-name">@user.display_name</td>
                            <td rel="data-user-username">@user.username</td>
                            <td rel="data-user-email">@user.email</td>
                            <td rel="data-user-status-@user.id-@user.status">@AppsterBackendAdmin.Infrastructures.Settings.SiteSettings.UserStatus(user.status).ToString()</td>
                            <td rel="data-user-accesslevel" class="centered">
                               @user.AccessLevel
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a class="account" id="">
                                        <span>
                                            <img src="~/Content/img/btn_dropdown.png" alt="">
                                        </span>
                                    </a>
                                    <div class="submenu" style="display: none; ">
                                        <div class="top2"></div>
                                        <ul class="root">

                                            <li>
                                                <a href="/users/edituser/@user.id"><img src="~/Content/img/icon_edit.png" alt="edit"> Edit</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" rel="data-suspend-user-@user.id" class="suspend-user">
                                                    <img src="~/Content/img/icon_invalid.png" alt="suspend" /> Suspend
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

