@model AppsterBackendAdmin.Models.View.UsersViewModel

@section bodyContent{

    <div class="unauth"> </div>
    <div class="row">

        <!-- Profile Info and Notifications -->
        <div class="col-md-6 col-sm-8 clearfix">
        </div>
    </div>
    <div class="k">
        <h2 class="manager">User</h2>
        <div class="back_bbb">
            <a href="http://54.179.140.203/admin/Users/register" class="speak_sec">Add User</a>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="centered">No.</th>
                                <th><a href="javascript:void(0);">Name</a></th>
                                <th class="email_use"><a href="javascript:void(0);">Email</a></th>
                                <th class="centered"><a href="javascript:void(0);">Gender</a></th>
                                <th><a href="javascript:void(0);">Referral ID</a></th>
                                <th>Status</th>
                                <th class="gift_user_send">Gift Sent</th>
                                <th class="gift_user_rec">Gift Received</th>
                                <th class="act_user">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var count = 0;
                                foreach (var u in Model.ListUsers)
                                {
                                    count += 1;
                                    <tr class="@((count%2) > 0 ? "" : "grey")">
                                        <td class="centered">@count</td>
                                        <td id="data-user-name-@u.id" title="@u.display_name"><a href="/users/view/@u.id" target="_blank">@u.display_name</a></td>
                                        <td>@u.email</td>
                                        <td class="centered">@(u.gender.Substring(0, 1))</td>
                                        <td>@u.referral_id</td>
                                        <td rel="data-user-status-@u.id-@u.status">@AppsterBackendAdmin.Infrastructures.Settings.SiteSettings.UserStatus(@u.status)</td>
                                        <td class="centered_send">@u.gift_sent_count</td>
                                        <td class="centered_rec">@u.gift_received_count</td>
                                        <td>
                                            <div class="dropdown" id="dropdown1">
                                                <a id="" class="account">
                                                    <span><img src="~/Content/img/btn_dropdown.png" title="Setting" alt=""></span>
                                                </a>
                                                <div class="submenu" style="display: none; ">
                                                    <div class="top2"></div>
                                                    <ul class="root">
                                                        <li>
                                                            <a href="/users/edituser/@u.id"><img src="~/Content/img/icon_edit.png" alt="edit"> Edit</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" rel="data-user-suspend-@u.id" class="suspend-user"><img src="~/Content/img/icon_invalid.png" alt="suspend" />Suspend|Activate</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Partial("~/Views/Shared/_PagingPartial.cshtml", Model.Paging)
            </div>
        </div>
    </div>
}

@section customScripts{
 <script type="text/javascript" src="~/Scripts/page.dashboard.js"></script>
}